*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Arial, Helvetica, sans-serif;
background:#FFF5F6;
display:flex;
justify-content:center;
align-items:center;
height:100vh;

}

/* CONTENEDOR */

.container{

width:420px;
background:white;
padding:40px;
border-radius:16px;
box-shadow:0 20px 40px rgba(0,0,0,0.08);

animation:fadeIn 0.8s ease;

}

h1{

text-align:center;
margin-bottom:25px;
color:#D95A6F;

}

h2{

margin-top:30px;
margin-bottom:15px;
font-size:18px;
color:#444;

}

/* CALENDARIO */

input[type="date"]{

width:100%;
padding:12px;
border:none;
border-radius:8px;
background:#D95A6F;
color:white;
font-size:16px;

}

/* HORARIOS */

.horarios{

display:grid;
grid-template-columns:repeat(3,1fr);
gap:10px;

}

.hora{

padding:12px;
text-align:center;
background:#F7A8B3;
color:white;
border-radius:8px;
cursor:pointer;
transition:0.3s;

}

.hora:hover{

transform:scale(1.05);

}

/* HORARIO OCUPADO */

.ocupado{

background:#E53935;
cursor:not-allowed;
opacity:0.6;

}

/* SELECCIONADO */

.seleccionado{

background:#D95A6F;

}

/* FORM */

form{

margin-top:25px;
display:flex;
flex-direction:column;
gap:12px;

}

input,
select{

padding:12px;
border:1px solid #eee;
border-radius:8px;

}

/* BOTON */

button{

margin-top:10px;
padding:14px;
background:#D95A6F;
border:none;
color:white;
font-size:16px;
border-radius:30px;
cursor:pointer;
transition:0.3s;

}

button:hover{

background:#C44B5F;

}

/* ANIMACION */

@keyframes fadeIn{

from{
opacity:0;
transform:translateY(20px);
}

to{
opacity:1;
transform:translateY(0);
}

}